:host {
  flex: 1;
  display: flex;

  .task-container {
    flex-direction: column;
    flex: 1;

    .task-properties-container {
      flex-direction: column;

      .task-property {
        flex-direction: row;
      }
    }

  }
}

